ul {
    list-style: none;
}

.inner {
    max-width: 100%;
    margin: 0 auto;
    background-image: url(white2.jpg);
}

header {
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(240, 255, 255, 0.507);
    padding: 10px 0;
    position: fixed;
}

.navigation li a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(59, 52, 52);
    margin:0 50px 0 30px;
}

.navigation li a:hover {
    font-size: 1.5rem;
}

.headimg {
    display: block;
    width: 100%;
    height: auto;
    margin:0px auto;
}

.top-text {
    display: block;
    width: 340px;
    font-family: "Comic Sans MS";
    margin: 5% auto;
}

.title-text {
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS";
}

section {
    margin: 100px 0;
}

.about {
    background-image: url(splash_blue.jpg);
    background-size: cover;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    padding-top: 1%;
}

.about div {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.about h2 {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.about img {
    max-width: 20%;
    max-height: auto;
    margin: 5% 2%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.about p {
    width: 40%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 5%;
    margin-right: 5%;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.github {
    text-decoration: none;
}

.sns {
    background-image: url(splash_green.jpg);
    background-size: cover;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    display: flex;
    flex-flow: column wrap;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.sns div {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    margin: 0 3%;
}

.sns div ul li {
    display: flex;
    justify-content: center;
    margin: 0 2%;
}

.sns div ul li a {
    text-decoration: none;
    color: rgb(112, 101, 101);
}

.blog {
    background-image: url(splash_yellow.jpg);
    background-size: cover;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

/* .blog div {
    display: flex;
    justify-content: center;
} */



.snsimg {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.blog img {
    width: 20%;
    height: auto;
    margin: 5%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.blogtext {
    margin:0 30%;
}

.blog_recommend ul {
    text-align: center;
    display: flex;
    justify-content: center;
}

.blog_recommend img {
    width: 15rem;
    height: auto;
}

.blog_recommend ul li {
    display: inline-block;
    margin: 0 2%;
}

.blogsite {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

footer p {
    font-size: 2rem;
}

footer {
    text-align: center;
}